<div class="container">
  <!-- <h1>Blogs index</h1> -->
  <div class="blog-nav">
    <form class="search-form">
      <input class="" type="search" placeholder="Search..." aria-label="Search" name="search" value="<%= params[:search] if params[:search] %>">
      <button class="search-button" type="submit">
        <i class="fa fa-search font-glass"></i>
      </button>
      <%# 
      <%= link_to "Reset", blogs_path, class: "" %>
    </form>
    <%= link_to "+ADD", new_blog_path, class: "add-button" %>
  </div>

  <div class="blog-grid-index" data-aos="fade-down">
    <% @blogs.each do |blog| %>
      <%= link_to blog_path(blog) do %>
        <div class="blog-card-border">
          <div class="blog-card">
            <p><%= blog.title %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>