<div class="container">
  <h1>New article</h1>
  <div class="blog-buttons-container blog-buttons-container-form">
    <div class="blog-button">
      <%= link_to blogs_path do %>
        <i class="fa-solid fa-angles-left"></i> Back
      <% end %>
    </div>
  </div>
  <%= simple_form_for(@blog) do |f| %>
    <%= f.input :title, label: "Article title", placeholder: "Ex: A new feature in Rails" %>
    <br>
    <%= f.input :image, as: :file, class: "imageButton", label: "Article image" %>
    <br>
    <%= f.input :post, as: :text, label: "Article content", placeholder: "Ex: Describe this new feature" %>
    <br>
    <%= f.button :submit, "Create", class: "createButton" %>
  <% end %>
</div>
