<div class="container">
  <div class="blog-buttons-container">
    <div class="blog-button">
      <%= link_to blogs_path do %>
        <i class="fa-solid fa-angles-left"></i> Back
      <% end %>
    </div>
    <div class="blog-button">
      <%= link_to edit_blog_path(@blog) do %>
        <i class="fa-regular fa-pen-to-square"></i> Edit
      <% end %>
    </div>
  </div>
  <section class="blog-header">
      <p><%= @blog.title %></p>
  </section>
  <div class="credit">
    <p>By USER posted <%= @blog.created_at %></p>
  </div>
  <article class="blog-post">
    <%= @blog.post %>
  </article>
</div>
