<div class="contact-container">
  <h1>Contact me on</h1>

  <ul class="social-list">
    <li class="social-contact"><a class="social-contact-link" href="#">Twitter</a></li>
    <li class="social-contact"><a class="social-contact-link" href="#">Github</a></li>
    <li class="social-contact"><a class="social-contact-link" href="#">Mail</a></li>
  </ul>

  <h2 class="social-h2">OR</h2>

  <%= form_for @contact do |f| %>
    <div class="contact-form">
      <!-- <%= f.label :name %> -->
      <%= f.text_field  :name, required: true, class: "contact-form-input", 
                        placeholder: "Name" %>

      <!-- <%= f.label :email %> -->
      <%= f.text_field :email, required: true, class: "contact-form-input",  
                        placeholder: "Email"%>

      <!-- <%= f.label :message %> -->
      <%= f.text_area :message, rows: 8, cols: 40, required: true, class: "contact-form-textarea", 
                      placeholder: "Message"%>

      <!-- Anti B0ts -->
      <div class= "d-none-field">
        <%= f.label :nickname %>
        <%= f.text_field :nickname, :hint => 'An71B07' %>
      </div>

      <%= f.submit 'Send Message', class: 'send-button' %>
    </div>
  <% end %>
</div>
